:root{
--ink-black: #03071eff;
--night-bordeaux: #370617ff;
--black-cherry: #6a040fff;
--oxblood: #9d0208ff;
--brick-ember: #d00000ff;
--red-ochre: #dc2f02ff;
--cayenne-red: #e85d04ff;
--deep-saffron: #f48c06ff;
--orange: #faa307ff;
--amber-flame: #ffba08ff;
--heading:"Archivo Black","lato", "google sans", sans-serif;
--head:"Archivo Black";
}

.hidden{
    display: none !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--black-cherry);
    display: grid;
    grid-template-columns: 75px 2fr 3fr;
}
header p{
    font-family: var(--head);
    font-size: xx-large;
    color: white;
    align-self: center;
    margin-left: 1rem;
}

header img{
    width: 75px;
}
body{
    background-color: var(--deep-saffron);
    
}

h1{
    font-family: var(--heading);
    text-decoration: underline;
    text-align: center;
    font-size: x-large;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--ink-black);
}
h2{
    font-family: var(--heading);
    color: var(--ink-black);
}
.smallcontent{
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#newvid iframe{
    width: 400px;
    height: 250px;
    align-self: center;
}
#newpostig {
    width: 90%;
    align-self: center;
}
#newpostx {
    width: 90%;
}

.mediumcontent{
    grid-row:span 1;
    text-align: center;
}


.maintitle{
    grid-column: span 1;
}

#absolute_container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 5px;
    margin: 2%;
}

footer{
    background-color: var(--black-cherry);
    text-align: center;
    padding-bottom: 10px;
    color: white;
    padding-top: 5px;
}

.ask{
    margin-top: 5rem;
    text-align: center;
}

#booper{
    width: 200px;
}
.ask button{
    background-color: var(--orange);
    border: 2px solid var(--ink-black);
    padding: 0.25rem;
}

#booper:hover{
    background-color: var(--cayenne-red);
}
#booper:active{
    background-color: var(--night-bordeaux);
}

#Question-Form {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--cayenne-red);
    padding: 1rem;
    font-family: var(--head);
    border-radius: 1rem;
    margin-top: 0.20rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.445);
}

#Question-Form input, #Question-Form textarea{
    background-color: var(--amber-flame);
    border: 1px solid var(--night-bordeaux);
    border-radius: 5px;
}

#Question-Form button{
    margin-top: 1rem;
}

#Question-Form button:hover{
    background-color: var(--cayenne-red);
}

#Question-Form button:active{
background-color: var(--night-bordeaux);
}